/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	color: black;
}

a {
	color: #0023c0;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

header {
	background-color: #1631ac;
	text-align: right;
	margin: 20px 0;
	padding: 30px 5%;
	color: white;
}

header h1 {
	font-size: 4.0em;
	margin-bottom: 20px;
}

header h2 {
	font-size: 1.5em;
	color: #a6c2ff;
}

header .icons {
	margin-top: 30px;
}

header .icons a i {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 20px;
}

article {
	padding: 0 5%;
}

article h1 {
	font-size: 1.5em;
	color: #0023c0;
}

article h2 {
	font-size: 1.25em;
	color: black;
}

footer {
	background-color: #1631ac;
	color: white;
	padding: 20px 5%;
}

footer h2 {
	color: #a6c2ff;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	text-align: center;
}

footer ul li a {
	color: white;
}

.copyright {
	font-size: 0.8em;
	text-align: center;
	color: #aaaaaa;
	margin: 10px 0;
}

body.contact ul.options {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body.contact ul.options li {
	display: inline;
}

body.contact ul.options li button {
	background-color: #DDDDDD;
	display: inline-block;
	border: none;
	padding: 10px 20px;
	margin-left: 20px;
	text-align: left;
}

body.contact ul.options li button.selected {
	background-color: #1631ac;
}

body.contact ul.options li button h2 {
	margin: 0;
}

body.contact form {
	background-color: #DDDDDD;
	padding: 20px;
	/*display: none;*/
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media only screen and (max-width: 600px) {
	body {
		font-size: 0.9em;
	}

	header {
		padding: 15px 5%;
	}
	
	header h1 {
		font-size: 2.5em;
		margin-bottom: 0;
		text-align: left;
	}
	
	header h2 {
		display: none;
		font-size: 1.1em;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}