<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/12cols.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body class="{{ page.class }}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

<header>
<h1><a href="/" alt="Home">&gt; Sam Dunster</a></h1>
<h2>Web/Mobile Applications Developer &lt;</h2>
<h2>Apple/UNIX Systems Administrator &lt;</h2>
<!--
<div class="icons">
<a href="/"><i class="icon-home"></i></a>
<a href="http://github.com/sdunster" title="GitHub"><i class="icon-github"></i></a>
<a href="http://twitter.com/sdunster" title="Twitter"><i class="icon-twitter"></i></a>
<a href="http://facebook.com/sdunster" title="Facebook"><i class="icon-facebook"></i></a>
<a href="http://linkedin.com/in/sdunster" title="LinkedIn"><i class="icon-linkedin"></i></a>
</div>
-->
</header>

<article>

{{ content }}

</article>

<footer>
	<div class="section group">
		<div class="col span_3_of_12">
			<h2>Projects</h2>
			<ul>
				<li><a href="http://howlonguntilwwdc.com">How Long Until WWDC?</a></li>
				<li><a href="http://europe.sdunster.com">Europe Trip Tracker</a></li>
				<li><a href="/project/nameassistant/">Name Assistant</a></li>
				<li><a href="/project/pauser/">Pauser</a></li>
			</ul>
		</div>
		<div class="col span_3_of_12">
			<h2>Connect</h2>
			<ul>
				<li><a href="http://github.com/sdunster">GitHub</a></li>
				<li><a href="http://tiwtter.com/sdunster">Twitter</a></li>
				<li><a href="http://facebook.com/sdunster">Facebook</a></li>
				<li><a href="http://linkedin.com/in/sdunster">LinkedIn</a></li>
			</ul>
		</div>
		<div class="col span_3_of_12">
			<h2>Contact</h2>
			<ul>
				<li><a href="/contact/#email">Email</a></li>
				<li><a href="/contact/#sms">SMS</a></li>
				<li><a href="http://tiwtter.com/sdunster">Twitter</a></li>
			</ul>
		</div>
		<div class="col span_3_of_12">
			<h2>CV</h2>
			<ul>
				<li><a href="http://download.sdunster.com/cv.pdf">Download</a></li>
			</ul>
		</div>
	</div>
</footer>

<div class="copyright">&copy; Copyright 2013 Sam Dunster. All rights reserved.</div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="/js/sdunster.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-2301808-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
